@yellow: #fffa19;
.margenes(@top: 0px, @bottom: 0px) {
    margin-top: @top;
    margin-bottom: @bottom;
}

.jumbotron {
    background-color: @yellow;
    .margenes(50px, 0px);    
}
  
  footer {
    background-color: @yellow;
    .margenes(10px, 0px); 
    padding: 8px; }
  
  .hotel {
    padding: 2px 2px 2px 5px;
    flex: 1 250px;
    .margenes(10px, 0px); }
  
  .reserva {
    width: 100%;
    border-radius: 0%; }
  
  .footer-address-icon {
    padding-right: 10px; }
  
  #gridCheck {
    margin-left: -20px; }
  
  .tab-content {
    padding-top: 10px; }
  
  .images img {
    padding-top: 30px;
    padding-left: 10px; }
  