$yellow: #fffa19;
@mixin margenes($top, $bottom) {
    margin-top: $top;
    margin-bottom: $bottom;
}

.jumbotron {
    background-color: $yellow;
    @include margenes(50px, 0px);
}

footer {
    background-color: $yellow;
    margin-top: 10px;
    padding: 8px;
}

.hotel {
    padding: 2px 2px 2px 5px;
    flex: 1 250px;
    margin-top: 10px;
}

.reserva { 
    width: 100%;
    border-radius: 0%;
}

.footer-address-icon {
    padding-right: 10px;
}

#gridCheck {
    margin-left: -20px;
}

.tab-content {
    padding-top: 10px;
}

.images img {
    padding-top: 30px;
    padding-left: 10px;
}
