.jumbotron {
  background-color: #fffa19;
  margin-top: 50px;
  margin-bottom: 0px; }

footer {
  background-color: #fffa19;
  margin-top: 10px;
  padding: 8px; }

.hotel {
  padding: 2px 2px 2px 5px;
  flex: 1 250px;
  margin-top: 10px; }

.reserva {
  width: 100%;
  border-radius: 0%; }

.footer-address-icon {
  padding-right: 10px; }

#gridCheck {
  margin-left: -20px; }

.tab-content {
  padding-top: 10px; }

.images img {
  padding-top: 30px;
  padding-left: 10px; }
